$black: #1E1E1E;
$strongGrey: #2F2F2F;
$opacity: #5757577c;
$greyPure: #888888;
$tranparentWhite: #f6f6f652;
$pureWhite: #FFFFFF;
$strongWhite : #F6F6F6;
$white: #EDEDED;
$transparentOrange: #ef730db9;
$strongOrange: #EF730D;
$orange: #ef7208;
$blue: #00A1FF;
$grey: #c2c0c0;


